<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Password Reset</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    
<body>
    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
        <div class="container-fluid d-flex justify-content-center align-items-center w-100">
            <a class="navbar-brand d-flex align-items-center" href="{{ url_for('login') }}">
                Finance Buddy
                <img src="{{ url_for('static', filename='images/logo1.png') }}" alt="logo" class="logo ms-2">
            </a>
        </div>
    </nav>

    <div class="container d-flex justify-content-center align-items-center" style="min-height: 100vh;">
        <div class="col-md-6">
            <h2 class="text-center">Reset Your Password</h2>
            <p class="text-center">Enter your email address to receive a password reset link.</p>
            <form action="{{ url_for('password_reset_request') }}" method="post">
                <div class="mb-3">
                    <label for="email" class="form-label" >Email address</label>
                    <input type="email" id="email" name="email" class="form-control" required>
                </div>
                <!-- Centering the button -->
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary" style="width: 20rem;">Send Reset Link</button>
                </div>
            </form>
        </div>
    </div>
    <footer class="footer">
        <div class="container">
            <p class="text-center">Contact Us at support@financebuddy.com</p>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
